*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bubblegum Sans', cursive;
    color: black;
}

body{
    background-color: rgb(188, 250, 164)
}

#canvas{
    background: rgb(245, 245, 71);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
}

.high-score{
    position: absolute;
    top: 1.5rem;
    width: 80%;
    left: 10%;
    text-align: center;
}

.reset{
    cursor: pointer;
    position:absolute;
    top: 95%;
    left: 10%;
    width: 80%;
    text-align: center;

}